/* Estilos generales */
body {
  background-color: #1c1c1c;
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Estilos del encabezado */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
  font-weight: bold;
  height: 80px;
  background: linear-gradient(to bottom, #5e3a35, #202734);
  width: 100vw;
  box-sizing: border-box;
  border-bottom: 2px solid #444;
}

h1 {
  color: white; /* Solo letras blancas */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 20px;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: #e73c3c;
  transition: width 0.3s ease, left 0.3s ease;
}

a:hover::after {
  width: 100%;
  left: 0;
}

a:hover {
  color: #e74c3c;
}

/* Estilos para el detalle del producto */
.detalle-producto {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagen-container {
  text-align: center;
}

.imagen-container img {
  max-width: 50%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
}

.botones-container {
  text-align: center;
  margin-top: 20px;
}

.botones-container button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.botones-container button:hover {
  background-color: #3e8e41;
}

#volver {
  background-color: #ccc;
}

#volver:hover {
  background-color: #aaa;
}

/* Estilos del footer */
footer {
  margin-top: auto;
  padding: 20px;
  background-color: #202734;
  color: white;
  text-align: center;
  font-size: 14px;
  width: 100%;
  bottom: 0;
}
